@import 'variables';

//去除右侧滚动条
::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url('@assets/fonts/Outfit-Regular.woff2') format('woff2');
}